{# DOM-Breakout: schließt .rct-content-inner, öffnet eine Fullwidth-Section.
   Muss innerhalb von <main> > .rct-content-inner verwendet werden und durch
   rct_fullwidth_end wieder geschlossen werden. #}
</div><section class="rct-fullwidth{% if cssClass %} {{ cssClass }}{% endif %}"{% if htmlId %} id="{{ htmlId }}"{% endif %}>
