/* ============================================================
   RCT – Rallos Contao Toolbox
   Theme Stylesheet v1.0.0
   Design: Clinical Architect / Tech Inspector Aesthetic
   ============================================================ */

/* dm-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/dm-mono-v16-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dm-mono-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'DM Mono';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/dm-mono-v16-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dm-mono-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/dm-mono-v16-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dm-mono-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'DM Mono';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/dm-mono-v16-latin-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


#dos-box {
	height: 600px;
	width: 800px;
	overflow: hidden;
	color: #0fb60f;
	line-height: 24px;
	padding: 10px;
	background-color: #000;
	overflow:hidden;
	font-family: 'DM Mono';
	font-size: 16px;
}

#dos-cursor {
    animation-name: animation_blink;
    animation-timing-function: ease-in;
    animation-duration: 1s; 
    animation-iteration-count: infinite;            
}
@keyframes animation_blink {
    0% { opacity: 1; }
    50% { opacity: 0.1; }
    100% { opacity: 1; }    
}


/* Menu */
#tl_navigation li.rallos-tools-area span {
	color: var(--nav-group);
  display: block;
  font-size: .75rem;
  font-weight: 500;
  margin: 0 15px;
  padding: 3px 3px 3px 22px;
  text-transform: uppercase;
  background: var(--icon-wrench) 3px 2px no-repeat;
}

