{# rct_theme_switcher.html.twig
   Bundle: alle Header-Controls für das Standard-Layout.
   Einzelne Controls liegen in _rct_ctrl_*.html.twig
#}
<div class="header-controls">
    {{ include('@Contao/_rct_ctrl_theme.html.twig') }}
</div>
